/* .events{ 
    
    margin-top:-300px; 
    display: grid ;
    margin-left: 25px;
    margin-bottom: 25px;
    grid-template-columns: br br ;
    grid-template-rows:  br br ;
    grid-template-areas: 
     "ab ba "
     " oc co"
     "ex  xe"
     "de  ed";
    
    }  
       #mgE1{
        grid-area: ab;
       } 
       #pE1{ 
        grid-area:  ba;
    
       }
       #mgE2{
       grid-area: co;
      
       } 
       #pE2{
        grid-area:  oc
       }
       #mgE3{
       
           grid-area:ex;
           grid-column-start: 1;
           grid-column-end: 2;
         } 
         #pE3{
            grid-area:  xe
           }
       #mgE4{
       grid-area: ed;
       grid-column-start: 2;
        grid-column-end: 1;
       }
       #pE4{
        grid-area:  de
       }
        .paragraph{
            font-size: 21px;
            font-family: sans-serif;
            line-height: 27px;
             margin-top: 80px; 
             text-align: center;
            
        
        } 
      .event_title{
       text-align: center;
       
      }

       .img_event{
        -webkit-animation: steps 3s linear;
        animation: opaci 2s backwards;
        z-index: 2;
     
        border-radius: 5px;
        box-shadow: -3px 3px 11px black;
       } 
       */


       .events{ 
        width:auto;
        height: 500px;
        margin: 50px auto; 
        display: grid ;
        margin-left: 25px;
    
        grid-template-columns: br br ;
        grid-template-rows:  br br ;
        grid-template-areas: 
         "ab ba "
         " oc co"
         "ex  xe"
         "de  ed";
    
        } 
        .content1{
        width:auto;
         margin-top: -300px;
        }
        .paragraph{
            width:auto;
            text-justify: auto;
            font-family: cursive;
            font-size: 19px;
            font-variant: no-common-ligatures proportional-nums;
            font-style: inherit;
            font-kerning: auto;
            font-size-adjust: inherit;
            margin-left: 15px;
            margin-right: 5px;
        }
        .event_title{
            color:black;
            margin-left: 200px;
    
        }